{% extends "base.html" %}

{% block title %} {{ product[1] }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8">


            <div class="product-detail clearfix">
                <h2>{{ product[1] }}</h2>
                <img class="float-right w-50" src="{{ url_for('static', filename='images/'+product[5]) }}">
                <p>{{ product[3] }}</p>
                <p><strong>Price: </strong>${{ product[2] }}</p>
                <p><strong>In stock: </strong>{{ product[6] }}</p>
            </div>

            {%  if logged_in %}
            <a class="btn btn-outline-secondary float-right" href="/addtocart/{{ product[0] }}">Add to cart &raquo;</a>
            {%  endif %}
        </div>
    </div>
{% endblock %}}
