{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h2>Sign up!!</h2>
    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <form method="post" action="/create-new-user">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="First name"
                               required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="dob">Date of birth</label>
                        <input type="date" class="form-control" id="dob" name="dob" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="wananga">Wānanga</label>
                        <input type="text" class="form-control" id="wananga" name="wananga" placeholder="Wānanga"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label for="password2">Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Password"
                           required>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
                <button type="reset" class="btn btn-outline-danger float-right mr-2">Clear form</button>
            </form>
        </div>
    </div>
{% endblock %}}
