{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <h2>Sign up!!</h2>
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" action="/create-new-user">
                <div class="form-group row">
                    <label for="fname" class="col-4 col-form-label">First name</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-address-card"></i>
                                </div>
                            </div>
                            <input id="fname" name="fname" placeholder="First name" type="text" class="form-control"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label" for="lname">Last name</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-address-card"></i>
                                </div>
                            </div>
                            <input id="lname" name="lname" placeholder="Last name" type="text" class="form-control"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dob" class="col-4 col-form-label">Date of Birth</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-birthday-cake"></i>
                                </div>
                            </div>
                            <input id="dob" name="dob" type="date" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="wananga" class="col-4 col-form-label">Wānanga</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                            <input id="wananga" name="wananga" placeholder="Your Wānanga class e.g. 9HFT" type="text"
                                   class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-4 col-form-label">Email address</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                            <input id="email" name="email" placeholder="@wgc.school.nz" type="email"
                                   class="form-control"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-4 col-form-label">Phone number</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-mobile-phone"></i>
                                </div>
                            </div>
                            <input id="phone" name="phone" type="text" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <input id="password" name="password" type="password" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password2" class="col-4 col-form-label">Password (again)</label>
                    <div class="col-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <input id="password2" name="password2" type="password" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}}
